  <section class="gallery container">
    <h2 class="title" id="gallery">Gallery</h2>
    <div class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img class="gallery__images" src="./images/winter-forest/winter-forest-4x.jpg" alt="snow-forest"></div>
          <div class="swiper-slide"><img class="gallery__images" src="./images/night-lake/night-sky-4x.jpg" alt="night-sky"></div>
          <div class="swiper-slide"><img class="gallery__images" src="./images/forest-tonel/foret-tonel-4x.jpg" alt="forest-tonel"></div>
          <div class="swiper-slide"><img class="gallery__images" src="./images/forest-house/forest-house-4x.jpg" alt="forest-house"></div>
          <div class="swiper-slide"><img class="gallery__images" src="./images/mountain-lake/Mountain-lake-4x.jpg" alt="mountain-lake"></div>
          <div class="swiper-slide"><img class="gallery__images" src="./images/blue-lake/blue-lake-4x.jpg" alt="blue-lake"></div>
          <div class="swiper-slide"><img class="gallery__images" src="./images/pink-lake/pink-lake-4x.jpg" alt="pink-lake"></div>
          <div class="swiper-slide"><img class="gallery__images" src="./images/castle/castle-4x.jpg" alt="castle"></div>
        </div>
      </div>
      <div class="swiper-button">
       <button type="button" class="gallery__button-prev"><svg width="144" height="20"><use href="./images/symbol-defs.svg#icon-arrov-left-logo-1"></use></svg></button>
       <button type="button" class="gallery__button-next"><svg width="144" height="20"><use href="./images/symbol-defs.svg#icon-arrov-right-logo-1"></use></svg></button>
    </div>
  </section>