  <section class="gallery">
    <div class="container">
      <h2 class="title" id="gallery">Gallery</h2>
    <div class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/winter-forest/winter-forest-3x.jpg 3x,
                ./images/winter-forest/winter-forest-4x.jpg 4x
              " 
              src="./images/winter-forest/winter-forest-2x.jpg" 
              alt="snow-forest"
            />
          </div>
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/night-lake/night-sky-3x.jpg 3x,
                ./images/night-lake/night-sky-4x.jpg 4x
              " 
              src="./images/night-lake/night-sky-2x.jpg" 
              alt="night-sky"
            />
          </div>
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/forest-tonel/foret-tonel-3x.jpg 3x, 
                ./images/forest-tonel/foret-tonel-4x.jpg 4x
              " 
              src="./images/forest-tonel/foret-tonel-2x.jpg" 
              alt="forest-tonel"
            />
          </div>
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/forest-house/forest-house-3x.jpg 3x, 
                ./images/forest-house/forest-house-4x.jpg 4x
              " 
              src="./images/forest-house/forest-house-2x.jpg" 
              alt="forest-house"
            />
          </div>
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/mountain-lake/Mountain-lake-3x.jpg 3x, 
                ./images/mountain-lake/Mountain-lake-4x.jpg 4x
              " 
              src="./images/mountain-lake/Mountain-lake-2x.jpg" 
              alt="mountain-lake"
            />
          </div>
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/blue-lake/blue-lake-3x.jpg 3x, 
                ./images/blue-lake/blue-lake-4x.jpg 4x
              " 
              src="./images/blue-lake/blue-lake-2x.jpg" 
              alt="blue-lake"
            />
          </div>
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/pink-lake/pink-lake-3x.jpg 3x, 
                ./images/pink-lake/pink-lake-4x.jpg 4x
              " 
              src="./images/pink-lake/pink-lake-2x.jpg" 
              alt="pink-lake"
            />
          </div>
          <div class="swiper-slide">
            <img 
              class="gallery__images" 
              srcset="
                ./images/castle/castle-3x.jpg 3x, 
                ./images/castle/castle-4x.jpg 4x
              " 
              src="./images/castle/castle-2x.jpg" 
              alt="castle"
            />
          </div>
        </div>
      </div>
      <div class="swiper-button">
       <button type="button" class="gallery__button-prev"><svg class="gallery__svg" width="144" height="20"><use href="./images/symbol-defs.svg#icon-arrov-left-logo-1"></use></svg></button>
       <button type="button" class="gallery__button-next"><svg class="gallery__svg" width="144" height="20"><use href="./images/symbol-defs.svg#icon-arrov-right-logo-1"></use></svg></button>
    </div>
    </div>
  </section>