<h2>Gallery</h2>

  <section class="gallery container">
    <h2 class="title">Gallery</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="./images/winter-forest/winter-forest-4x.jpg" alt="" width="400" height="494px"></div>
          <div class="swiper-slide"><img src="./images/night-lake/night-sky-4x.jpg" alt="" width="400" height="494px"></div>
          <div class="swiper-slide"><img src="./images/forest-tonel/foret-tonel-4x.jpg" alt="" width="400" height="494px"></div>
          <div class="swiper-slide"><img src="./images/forest-house/forest-house-4x.jpg" alt="" width="400" height="494px"></div>
          <div class="swiper-slide"><img src="./images/mountain-lake/Mountain-lake-4x.jpg" alt="" width="400" height="494px"></div>
          <div class="swiper-slide"><img src="./images/blue-lake/blue-lake-4x.jpg" alt="" width="400" height="494px"></div>
          <div class="swiper-slide"><img src="./images/pink-lake/pink-lake-4x.jpg" alt="" width="400" height="494px"></div>
          <div class="swiper-slide"><img src="./images/castle/castle-4x.jpg" alt="" width="400" height="494px"></div>
        </div>
        <div class="swiper-button">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
      </div>
  </section>