<header class="header container">
    <div class="header__container">
        <nav class="header__navigation">
            <a href="./index.html">
                <svg width="64" height="64">
                    <use href="./images/symbol-defs.svg#icon-logo-ukrain-1"></use>
                </svg>
            </a>
            <div class="header__mobile">
                <ul class="list">
                    <li class="header__navigation-items">
                        <a class="header__navigation-link" href="#about">About us</a>
                    </li>
                    <li class="header__navigation-items">
                        <a class="header__navigation-link" href="#our-tours">Tours</a>
                    </li>
                    <li class="header__navigation-items">
                        <a class="header__navigation-link" href="#gallery">Gallery</a>
                    </li>
                    <li class="header__navigation-items">
                        <a class="header__navigation-link" href="#contacts">Contacts</a>
                    </li>
                </ul>
            </div>
            <ul class="header__navigation-list list">
                <li class="header__navigation-items">
                    <a class="header__navigation-link" href="#about">About us</a>
                </li>
                <li class="header__navigation-items">
                    <a class="header__navigation-link" href="#our-tours">Tours</a>
                </li>
                <li class="header__navigation-items">
                    <a class="header__navigation-link" href="#gallery">Gallery</a>
                </li>
                <li class="header__navigation-items">
                    <a class="header__navigation-link" href="#contacts">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>