<section class="hero">
    <h1 class="hero__title title">
        <span>Unlock the Wonders </span>
        <span>of</span>
        <span class="hero__accent">Ukraine</span></h1>
    <a class="button" href="#our-tours">Our tours</a>
    <ul class="hero__soc-list">
        <li class="hero__soc-item">
            <a href="https://www.instagram.com/" rel="noreferrer noopener" target="_blank" aria-label="Instagram link">
                <svg width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-instagram-logo-1"></use>
                </svg>
            </a>
        </li>
        <li class="hero__soc-item">
            <a href="https://www.facebook.com/" rel="noreferrer noopener" target="_blank" aria-label="Facebook link">
                <svg width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-facebook-logo-1"></use>
                </svg>
            </a>
        </li>
        <li class="hero__soc-item">
            <a href="https://web.telegram.org/" rel="noreferrer noopener" target="_blank" aria-label="Telegram link">
                <svg width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-telegram-logo-1"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>