<section class="our-tours">
    <div class="container-in-width">
        <h2 class="our-tours__title title" id="our-tours">Our Tours</h2>
        <div class="swiper our-tours__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img 
                        class="our-tours__img"
                        srcset="
                            ./images/lake-synevyr/lake-synevyr-3x.jpg 3x, 
                            ./images/lake-synevyr/lake-synevyr-4x.jpg 4x
                        " 
                        src="./images/lake-synevyr/lake-synevyr-2x.jpg"
                        alt="lake-synevyr" 
                    />
                    <div class="our-tours__info-wrapper">
                        <h3 class="our-tours__header title">Lake Synevyr and Shipit waterfall</h3>
                        <div class="our-tours__wrapper">
                            <div class="our-tours__list-wrapper">
                                <ul class="our-tours__description">
                                    <li><p>Departure from Lviv (07:00) / Stryi (08:00)</p></li>
                                    <li><p>Pylypets (overview of Shipit waterfall and lunch)</p></li>
                                    <li><p>Synevyr Pass (photographing and viewing of Carpathian panoramas)</p></li>
                                    <li><p>"Synevyr" National Park (brown bear rehabilitation center and transition to the lake)</p></li>
                                    <li><p>Stryi (21:00)/Lviv (return by 22:00)</p></li>
                                </ul>
                            </div>
                            <div>
                                <p class="our-tours__included-header">Included:</p>
                                <ul class="our-tours__included list">
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-directions-bus-logo-1"></use></svg>
                                        <p>Transfer</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-id-card-logo-1"></use></svg>
                                        <p>Travel insurance</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-face-logo-1"></use></svg>
                                        <p>Professional guide</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-ticket-blank-logo-1"></use></svg>
                                        <p>Travel insurance</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="our-tours__footer">
                            <a class="button our-tours__button" href="#start-travel">Book</a>
                            <p class="our-tours__footer-paragraph"><span class="our-tours__footer-accent">Price:</span>2000 UAH</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img 
                        class="our-tours__img" 
                        srcset="
                        ./images/ancient-history/ancient-history-3x.jpg 3x,
                        ./images/ancient-history/ancient-history-4x.jpg 4x
                        "
                        src="./images/ancient-history/ancient-history-2x.jpg" 
                        alt="ancient-history"
                    />
                    <div class="our-tours__info-wrapper">
                        <h3 class="our-tours__header title">Ancient History & Vibrant Present</h3>
                        <div class="our-tours__wrapper">
                            <div class="our-tours__list-wrapper">
                                <ul class="our-tours__description">
                                    <li><p>Departure from Kiev (08:00)</p></li>
                                    <li><p>St. Sophia's Cathedral (iconic UNESCO World Heritage site)</p></li>
                                    <li><p>Golden Gate (historical monument visit)</p></li>
                                    <li><p>Bessarabsky Market (tasting local delicacies)</p></li>
                                    <li><p>Kiev Pechersk Lavra (exploration of the significant monastery)</p></li>
                                    <li><p>Return to Kiev by 20:00</p></li>
                                </ul>
                            </div>
                            <div>
                                <p class="our-tours__included-header">Included:</p>
                                <ul class="our-tours__included list">
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-directions-bus-logo-1"></use></svg>
                                        <p>Transfer</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-id-card-logo-1"></use></svg>
                                        <p>Travel insurance</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-face-logo-1"></use></svg>
                                        <p>Professional guide</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-ticket-blank-logo-1"></use></svg>
                                        <p>Travel insurance</p>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="our-tours__footer">
                        <a class="button our-tours__button" href="#start-travel">Book</a>
                        <p class="our-tours__footer-paragraph"><span class="our-tours__footer-accent">Price:</span>3000 UAH</p>
                    </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img 
                        class="our-tours__img" 
                        srcset="
                            ./images/black-sea/black-sea-3x.jpg 3x,
                            ./images/black-sea/black-sea-4x.jpg 4x
                        "
                        src="./images/black-sea/black-sea-2x.jpg"
                        alt="black-sea" 
                    />
                    <div class="our-tours__info-wrapper">
                        <h3 class="our-tours__header title">Black Sea Jewel</h3>
                        <div class="our-tours__wrapper">
                            <div class="our-tours__list-wrapper">
                                <ul class="our-tours__description">
                                    <li><p>Departure from Odessa (08:00)</p></li>
                                    <li><p>Primorsky Boulevard (city's scenic walk)</p></li>
                                    <li><p>Potemkin Steps (historical site and great city view)</p></li>
                                    <li><p>Odessa Opera and Ballet Theatre (exterior visit)</p></li>
                                    <li><p>Lunch at a local seafood restaurant</p></li>
                                    <li><p>Return to Odessa by 20:00</p></li>
                                </ul>
                            </div>
                            <div>
                                <p class="our-tours__included-header">Included:</p>
                                <ul class="our-tours__included list">
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-directions-bus-logo-1"></use></svg>
                                        <p>Transfer</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-id-card-logo-1"></use></svg>
                                        <p>Travel insurance</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-face-logo-1"></use></svg>
                                        <p>Professional guide</p>
                                    </li>
                                    <li class="our-tours__included-item">
                                        <svg class="our-tours__included-svg" width="24" height="24"><use href="./images/symbol-defs.svg#icon-ticket-blank-logo-1"></use></svg>
                                        <p>Travel insurance</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="our-tours__footer">
                            <a class="button our-tours__button" href="#start-travel">Book</a>
                            <p class="our-tours__footer-paragraph title"><span class="our-tours__footer-accent">Price:</span>3500 UAH</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="swiper-button-next"><svg><use href="./images/symbol-defs.svg#icon-arrov-left-logo-1"></use></svg></div>
                <div class="swiper-button-prev"><svg><use href="./images/symbol-defs.svg#icon-arrov-right-logo-1"></use></svg></div>
            </div>
        </div>
    </div>
</section>