<section class="our-tours">
    <h2 class="our-tours__title title">Our Tours</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide our-tours__swiper">
                <img width="704" class="our-tours__img" src="./images/lake-synevyr/lake-synevyr-4x.jpg" />
                <div>
                    <h3>Lake Synevyr and Shipit waterfall</h3>
                    <ul>
                        <li><p>Departure from Lviv (07:00) / Stryi (08:00)</p></li>
                        <li><p>Pylypets (overview of Shipit waterfall and lunch)</p></li>
                        <li><p>Synevyr Pass (photographing and viewing of Carpathian panoramas)</p></li>
                        <li><p>"Synevyr" National Park (brown bear rehabilitation center and transition to the lake)</p></li>
                        <li><p>Stryi (21:00)/Lviv (return by 22:00)</p></li>
                    </ul>
                    <ul>
                        <li>
                            <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-directions-bus-logo-1"></use></svg>
                            <p>Transfer</p>
                        </li>
                        <li>
                            <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-id-card-logo-1"></use></svg>
                            <p>Travel insurance</p>
                        </li>
                        <li>
                            <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-face-logo-1"></use></svg>
                            <p>Professional guide</p>
                        </li>
                        <li>
                            <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-ticket-blank-logo-1"></use></svg>
                            <p>Travel insurance</p>
                        </li>
                    </ul>
                    <div class="our-tours__footer">
                        <a class="button our-tours__button" href="">Book</a>
                        <p><span class="our-tours__footer-paragraph">Price:</span>2000 UAH</p>
                    </div>
                </div>
            </div>
          <div class="swiper-slide">
            <img class="our-tours__img" src="./images/ancient-history/ancient-history-4x.jpg" />
            <div>
            <h3>Ancient History & Vibrant Present</h3>
            <ul>
                <li><p>Departure from Kiev (08:00)</p></li>
                <li><p>St. Sophia's Cathedral (iconic UNESCO World Heritage site)</p></li>
                <li><p>Golden Gate (historical monument visit)</p></li>
                <li><p>Bessarabsky Market (tasting local delicacies)</p></li>
                <li><p>Kiev Pechersk Lavra (exploration of the significant monastery)</p></li>
                <li><p>Return to Kiev by 20:00</p></li>
            </ul>
            <ul>
                <li>
                    <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-directions-bus-logo-1"></use></svg>
                    <p>Transfer</p>
                </li>
                <li>
                    <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-id-card-logo-1"></use></svg>
                    <p>Travel insurance</p>
                </li>
                <li>
                    <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-face-logo-1"></use></svg>
                    <p>Professional guide</p>
                </li>
                <li>
                    <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-ticket-blank-logo-1"></use></svg>
                    <p>Travel insurance</p>
                </li>
            </ul>
            <div class="our-tours__footer">
                <a class="button our-tours__button" href="">Book</a>
                <p><span class="our-tours__footer-paragraph">Price:</span>3000 UAH</p>
            </div>
        </div>
        </div>
          <div class="swiper-slide">
            <img class="our-tours__img" src="./images/black-sea/black-sea-4x.jpg" />
            <div>
                <h3>Black Sea Jewel</h3>
                <ul>
                    <li><p>Departure from Odessa (08:00)</p></li>
                    <li><p>Primorsky Boulevard (city's scenic walk)</p></li>
                    <li><p>Potemkin Steps (historical site and great city view)</p></li>
                    <li><p>Odessa Opera and Ballet Theatre (exterior visit)</p></li>
                    <li><p>Lunch at a local seafood restaurant</p></li>
                    <li><p>Return to Odessa by 20:00</p></li>
                </ul>
                <ul>
                    <li>
                        <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-directions-bus-logo-1"></use></svg>
                        <p>Transfer</p>
                    </li>
                    <li>
                        <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-id-card-logo-1"></use></svg>
                        <p>Travel insurance</p>
                    </li>
                    <li>
                        <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-face-logo-1"></use></svg>
                        <p>Professional guide</p>
                    </li>
                    <li>
                        <svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-ticket-blank-logo-1"></use></svg>
                        <p>Travel insurance</p>
                    </li>
                </ul>
                <div class="our-tours__footer">
                    <a class="button our-tours__button" href="">Book</a>
                    <p><span class="our-tours__footer-paragraph">Price:</span>3500 UAH</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div>
        <div class="swiper-button-next"><svg><use href="./images/symbol-defs.svg#icon-arrov-left-logo-1"></use></svg></div>
        <div class="swiper-button-prev"><svg><use href="./images/symbol-defs.svg#icon-arrov-right-logo-1"></use></svg></div>
    </div>
</section>