<section class="reviews container">
    <h2 class="title">Reviews</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="review-wrapper">
                    <div class="review-wrapper__title first-review">
                        <div class="review-list-wrapper">
                            <h3 class="review-title">Dmitro</h3>
                        <ul class="review-list">
                            <li>
                            <svg width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                            </svg>
                            </li>
                            <li>
                                <svg width="24" height="24">
                                    <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="24" height="24">
                                    <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="24" height="24">
                                    <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="24" height="24">
                                    <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                </svg>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="review-wrapper__description">
                        <p>
                            It was an incredible trip and I am very grateful
                            to the organizers for the opportunity to learn more
                            about our country
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <div class="review-wrapper">
                        <div class="review-wrapper__title second-review">
                            <div class="review-list-wrapper">
                            <h3 class="review-title">Alisa</h3>
                            <ul class="review-list">
                                <li>
                                <svg width="24" height="24">
                                    <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="review-wrapper__description">
                            <p>
                                I really like to travel and try to do it as often
                                as possible. The last one was to Lake Synevir
                                and it was very cool, a great route, a comfortable
                                bus, delicious food. I will definitely go somewhere
                                else with you
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <div class="review-wrapper">
                        <div class="review-wrapper__title third-review">
                            <div class="review-list-wrapper">
                                <h3 class="review-title">Marry</h3>
                                <ul class="review-list">
                                    <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="review-wrapper__description">
                            <p>
                                Great tour. I really liked the atmosphere, professional
                                approach and very interesting information
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                <div class="review-wrapper">
                    <div class="review-wrapper__title fourth-review">
                        <div class="review-list-wrapper">
                            <h3 class="review-title">Fedir</h3>
                            <ul class="review-list">
                                <li>
                                <svg width="24" height="24">
                                    <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="review-wrapper__description">
                        <p>
                            We traveled with a company and it was incredible,
                            everyone without exception was satisfied and we will
                            definitely go somewhere else with you and will
                            recommend it to everyone
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <div class="review-wrapper">
                        <div class="review-wrapper__title fifth-review">
                            <div class="review-list-wrapper">
                                <h3 class="review-title">Anastasia</h3>
                                <ul class="review-list">
                                    <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="review-wrapper__description">
                            <p>
                                Professional guides, comfortable transport,
                                excellent hotels and exciting excursions - it wasunforgettable! 
                                I recommend this company to anyone who wants to
                                get the best experience out of their trip.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <div class="review-wrapper">
                        <div class="review-wrapper__title sixth-review">
                            <div class="review-list-wrapper">
                                <h3 class="review-title">Victoria</h3>
                                <ul class="review-list">
                                    <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="review-wrapper__description">
                            <p>
                                I felt cozy and comfortable throughout the tour.
                                Would have liked a little more free time to
                                explore on my own, but overall was happy with the tour.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <div class="review-wrapper">
                        <div class="review-wrapper__title seventh-review">
                            <div class="review-list-wrapper">
                                <h3 class="review-title">Valeriy</h3>
                                <ul class="review-list">
                                    <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="review-wrapper__description">
                            <p>
                                My trip on the tour with this site was unforgettable!
                                Excellent organization, comfortable hotels and exciting excursions.
                                Every detail was carefully thought out and I could
                                enjoy every moment without any worries.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <div class="review-wrapper">
                        <div class="review-wrapper__title eighth-review">
                            <div class="review-list-wrapper">
                                <h3 class="review-title">Ilona</h3>
                                <ul class="review-list">
                                    <li>
                                    <svg width="24" height="24">
                                        <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                    </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="24" height="24">
                                            <use href="./images/symbol-defs.svg#icon-star-logo-1"></use>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="review-wrapper__description">
                            <p>
                                My tour with this agency was incredible!
                                Everything was organized to a high standard,
                                including transport, accommodation and excursions.
                                The guides were very professional and knew every
                                corner of the place where we were going.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>