<section class="order container">
    <div class="order__wrapper  container">
        <div class="order__paragraph-wrapper">
            <h2 class="order__title" id="start-travel">Start Travel</h2>
            <p class="order_paragraph">If you want to get an unforgettable trip, quickly fill out the application and we will contact you during the day</p>
            <p>We are ready to answer any questions and help choose the best tour</p>
        </div>
        <form class="order__form" action="">
            <label class="order__label" for="user_name">Name</label>
             <input class="order__input" type="text" placeholder="Enter your name" id="user_name">
            <label class="order__label" for="user_phone">Phone</label>
            <input class="order__input" type="text" placeholder="+380__-___-__-__" id="user_phone">
            <textarea class="order__textarea" name="" id="" cols="30" rows="5" placeholder="Your message"></textarea>
            <button class="button" type="submit">Send</button>
        </form>
    </div>
</section>