.container {
    max-width: 1504px;
    margin: 0 auto;
    @media screen and(min-width:375px) and (max-width:835px) {
        padding: 0 16px;
    }
    @media screen and(min-width:835px) {
        padding: 0 32px;
    }
}

.container-in-width {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    @media screen and(min-width:375px) and (max-width:835px) {
        padding-left: 0;
        padding-right: 0;
    }
    @media screen and(min-width:835px) {
        padding-left: 0;
        padding-right: 0;
    }
}