.title {
    text-align: center;
    color: var(--main-text-color);
    font-family: Jomolhari;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.4;
    margin-bottom: 64px;

    @media screen and (min-width:375px) and (max-width:834px) {
        font-size: 40px;
    }
}