.about-us {
    
    padding-top: 171px;
    height: 573px;
    @media screen and (min-width:375px) {
        height: auto;
    }
    .about-us__paragraph {
        margin-bottom: 32px;
    }

    .about-us__paragraph {
        @media screen and (min-width:835px) {
            width: 369px;
        }
    
        @media screen and (min-width:1440px) {
            width: 469px;
        }
    }

    .about-us__wtapper {
        @media screen and (min-width:835px) {
            display: flex;
            justify-content: center;
        }
    }

    .about-us__paragraph-wrapper {
        @media screen and (min-width:835px) {
            margin-left: 32px;
        }
    }
}