.footer {
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 16px;
}

.footer__wrapper {
    margin-bottom: 64px;
    display: flex;
}

.footer__logo-svg {
    width: 127px;
    height: 90px;
}

.footer__address-list {
    margin-bottom: 32px;
}

.footer__address-list .fotter__address-item {
    display: flex;
    flex-direction: column;
}

.footer__soc-list {
    display: flex;

    & :not(:last-child) {
        margin-right: 15px;
    }
}

.footer__rights {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Jomolhari;
    font-size: 12px;
}

@media screen and (min-width:375px) and (max-width:834px) {
    .footer__wrapper {
        flex-direction: column;
    }

    .footer__logo-wrapper {
        margin-bottom: 32px;
    }

    .footer__navigation-list {
        margin-bottom: 32px;
    }

    .footer__navigation-list .footer__navigation-items:not(:last-child) {
        margin-bottom: 8px;
    }

    .footer__address-list .fotter__address-item:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media screen and (min-width:835px) {
    .footer {
        padding-top: 32px;
        padding-bottom: 16px;
    }

    .footer__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__logo-wrapper {
        margin-bottom: 0;
    }

    .footer__logo-svg {
        width: 169px;
        height: 125px;
    }

    .footer__navigation-list {
        margin-bottom: 0;
    }

    .footer__navigation-list .footer__navigation-items:not(:last-child) {
        margin-bottom: 16px;
    }

    .footer__navigation-link {
        font-size: 18px;
    }

    .footer__address-list .fotter__address-item {
        align-items: flex-end;
    }

    .footer__address-list .fotter__address-item:not(:last-child) {
        margin-bottom: 16px;
    }

    .footer__address-link {
        font-size: 18px;
    }

    .footer__soc-list {
        justify-content: end;
    }

    .footer__rights {
        font-size: 14px;
    }
}

@media screen and (min-width:1440px) {
    .footer__logo-svg {
        width: 196px;
        height: 192px;
    }
}