.gallery__images {
    border-radius: 6px;
}

.gallery__slider {
    margin-bottom: 32px;
}

.swiper-button {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.gallery__button-prev,
.gallery__button-next {
    fill: var(--main-text-color);
    background-color: inherit;
    border: none;
    height: 10px;
    cursor: pointer;

    & .gallery__svg:hover,
    & .gallery__svg:hover {
        fill: var(--hover-svg-color);
    }
}

@media screen and (min-width:375px) and (max-width:834px) {
    .gallery {
        padding: 80px 0;
    }
}

@media screen and (min-width:835px) {
    .gallery {
        padding: 100px 0;
    }
}