.gallery {
    height: auto;
    margin-bottom: 60px;
    padding-bottom: 100px;
    min-width: 0;

    &__images {
        @media screen and (min-width:375px) {
            width: 343px;
            height: 494px;
        }
    
        @media screen and (min-width:835px) {
            width: 377px;
            height: 494px;
        }
    
        @media screen and (min-width:1440px) {
            width: 400px;
            height: 494px;
        }
        border-radius: 6px;
    }
}

.swiper {
    margin-bottom: 32px;
}

.swiper-slide {
    max-width: 400px;
    @media screen and (min-width:375px) {
        width: 343px;
        height: 494px;
    }
    @media screen and (min-width: 835px) {
        width: 377px;
        height: 494px;
    }
    @media screen and (min-width: 1440px) {
        width: 400px;
        height: 494px;
    }
}

.swiper-button {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.gallery__button-prev,
.gallery__button-next {
    fill: var(--main-text-color);
    background-color: inherit;
    border: none;
    height: 10px;
    cursor: pointer;
}

.gallery__button-prev svg:hover,
.gallery__button-next svg:hover {
    fill: var(--hover-svg-color);
}