.gallery {
    height: auto;
    margin-bottom: 60px;
}

.swiper {
    margin-bottom: 32px;
    display: flex;
}

@media screen and (min-width: 375px) {
    .swiper {
        max-width: 375px;
    }
}

@media screen and (min-width: 835px) {
    .swiper {
        max-width: 835px;
    }
}

@media screen and (min-width: 1440px) {
    .swiper {
        max-width: 1440px;
    }
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 375px) {
    .swiper-wrapper {
        max-width: 375px;
    }
}

@media screen and (min-width: 835px) {
    .swiper-wrapper {
        max-width: 835px;
    }
}

@media screen and (min-width: 1440px) {
    .swiper-wrapper {
        max-width: 1440px;
    }
}

.swiper-slide img {
    max-width: 343px;
    height: auto;
}

@media screen and (min-width: 835px) {
    .swiper-slide img {
        width: 377px;
        height: auto;
    }
}

@media screen and (min-width: 1440px) {
    .swiper-slide img {
        max-width: 400px;
        height: auto;
    }
}

.swiper-slide {
    margin-right: 16px;
}

img {
    border-radius: 6px;
}

.swiper-button {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: inherit;
    border: none;
    height: 10px;
}