.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

@media screen and (min-width:375px) {
    // .header__mobile {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100vw;
    //     height: 100vh;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     z-index: 999;
    //     background-color: black;
    // }
}

@media screen and (min-width:835px) {
    .header__mobile {
        display: none;
    }
}

@media screen and (min-width:375px) {
    .header__navigation-list {
        display: none;
    }
}

//  NAVIGATION
.header__navigation {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header__navigation-list {
    display: flex;
    align-items: center;
}

.header__navigation-list :not(:last-child) {
    margin-right: 64px;
}

@media screen and (min-width:835px) and (max-width:1439px) {
    .header__navigation-list :not(:last-child) {
        margin-right: 32px;
    }
}

@media screen and (min-width:375px) and (max-width:834px) {
    .header__navigation-list {
        display: none;
    }
}

.header__navigation-link {
    font-size: 18px;
    font-weight: 700;
}

.header__navigation-items .header__navigation-link {
    padding: 6px;
}