.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header__main-logo,
.mobile-button {
    z-index: 999;
}

.header__navigation-list {
    display: flex;
    align-items: center;
    & :not(:last-child) {
        margin-right: 64px;
    }
}

.header__navigation-link {
    font-size: 18px;
    font-weight: 700;
}

.header__navigation-items .header__navigation-link {
    padding: 6px;
}

.mobile-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.mobile-button__svg {
    width: 40px;
    height:  40px;
}

.mobile-button .mobile-button__cross {
    display: none;
}

.mobile-button.is-open .mobile-button__cross {
    display: block;
}

.mobile-button.is-open .mobile-button__burger {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 834px) {
    .header__navigation-list {
        display: none;
    }

    .header__mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: 500ms linear;
        z-index: 1;
        transform: translateY(-100%);

        &.is-open {
            transform: translateY(0);
        }
    }
}


@media screen and (max-width:834px) {
    .mobile-content {
        position: absolute;
        visibility: visible;
        pointer-events: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image: url(../images/background-mobile/background-mobile-1x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (min-device-pixel-rato: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
      .mobile-content {
          background-image: url(../images/background-mobile/background-mobile-2x.jpg);
      }
  }
  @media screen and (min-device-pixel-rato: 3),
  (-webkit-min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
      .mobile-content {
          background-image: url(../images/background-mobile/background-mobile-3x.jpg);
      }
  }
  @media screen and (min-device-pixel-rato: 4),
  (-webkit-min-device-pixel-ratio: 4),
  screen and (min-resolution: 384dpi),
  screen and (min-resolution: 4dppx) {
      .mobile-content {
          background-image: url(../images/background-mobile/background-mobile-4x.jpg);
      }
  }

  .header__mobile-item {
    &:not(:last-child) {
        margin-bottom:16px;
    }
  }

  .header__mobile-link {
    font-family: Lato;
    font-size: 18px;
  }
}

@media screen and (min-width:835px) {
    .header__mobile {
        display: none;
    }

    .mobile-button {
        display: none;
    }
}

@media screen and (min-width:835px) and (max-width:1439px) {
    .header__navigation-list :not(:last-child) {
        margin-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    
}