.our-tours {
    @media screen and (min-width:375px) and (max-width:834px) {
        padding-top: 80px;
    }
    padding-top: 100px;
}

.our-tours__img {
    border-radius: 4px;
    @media screen and (min-width:375px) {
        width: 486px;
        height: 409px;
        margin-bottom: 16px;
    }
    @media screen and (min-width:835px) {
        width: 982px;
        height: 642px;
        margin-bottom: 40px;
    }
    @media screen and (min-width:1440px) {
        width: 768px;
        height: 515px;
        margin-bottom:106px;
    }
}

.swiper-wrapper .swiper-slide {
    @media screen and (min-width:375px) {
        max-width: 454px;
    }
    @media screen and (min-width:835px) {
        max-width: 918px;
    }
    @media screen and (min-width:1440px) {
        max-width: 704px;
    }
}

.our-tours__included-header {
    font-family: Jomolhari;
    font-size: 18px;
    letter-spacing: 0.18px;
    margin-bottom: 16px;
}

.our-tours__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    @media screen and (min-width:375px) and (max-width:834px) {
        justify-content: space-between;
        height: 560px;
        padding-left: 16px;
        padding-right: 16px;
    }
    @media screen and (min-width:835px) {
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width:1440px) {
        height: 530px;
        padding-left: 32px;
    }
}

.our-tours__wrapper {
    display: flex; 
    @media screen and (min-width:375px) and (max-width:834px) {
        flex-direction: column;
    }

    @media screen and (min-width:835px) {
       height: auto;
    }

    @media screen and (min-width:1440px) {
        flex-direction: column;
    }
}

.our-tours__list-wrapper {
    @media screen and (min-width:375px) and (max-width:834px) {
        margin-bottom: 16px;
    }
    @media screen and (min-width:835px) and (max-width:1439px) {
        margin-right: 32px;
    }
    @media screen and (min-width:835px) {
        margin-bottom: 40px;
    }
}

.our-tours__header {
    font-family: Jomolhari;
    font-size: 32px;
    letter-spacing: 0.32px;
    margin-bottom: 32px;
}

.our-tours__footer {
    display: flex;
    align-items: center;
}


.our-tours__footer-accent {
    margin-right: 72px;
}

.our-tours__footer-paragraph {
    @media screen and (min-width:375px) and (max-width:1439px) {
        display: none;
    }
}

.our-tours__button {
    @media screen and (min-width:375px) and (max-width:834px) {
        width: 343px;
        text-align: center;
        margin: 0;
    }
    @media screen and (min-width:1440px) {
        margin-right: 46px;
    }
}

.our-tours__included li {
    display: flex;
}

.our-tours__included .our-tours__included-item:not(:last-child) {
    margin-bottom: 10px;
}

.our-tours__included-svg {
    margin-bottom: 0;
    margin-right: 16px
}