.our-tours {
    padding-top: 100px;
}

.our-tours__img {
    border-radius: 4px;
}

.our-tours__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.our-tours__wrapper {
    display: flex; 
}

.our-tours__header {
    display: flex;
    font-family: Jomolhari;
    text-align: start;
}

.our-tours__description {
    margin: 0;
}

.our-tours__included-header {
    font-family: Jomolhari;
    font-size: 18px;
    letter-spacing: 1.4px;
    margin-bottom: 17px;
}

.our-tours__included .our-tours__included-item:not(:last-child) {
    margin-bottom: 10px;
}

.our-tours__included-svg {
    margin-bottom: 0;
    margin-right: 16px
}

.our-tours__footer {
    display: flex;
    align-items: center;
}

.our-tours__footer-accent {
    margin-right: 72px;
}

.our-tours__footer-paragraph {
    font-size: 32px;
    margin-bottom: 0;
}

.our-tours__included .our-tours__included-item {
    display: flex;
}

@media screen and (max-width:1439px) {
    .our-tours__description {
        list-style: none;
        padding: 0;
    }
}

@media screen and (min-width:320px) and (max-width:834px) {
    .our-tours {
        padding-top: 80px;
    }

    .swiper-wrapper .swiper-slide {
        max-width: 454px;
    }

    .our-tours__img {
        width: 486px;
        height: 409px;
        margin-bottom: 16px;
    }

    .our-tours__info-wrapper {
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .our-tours__wrapper {
        flex-direction: column;
    }

    .our-tours__list-wrapper {
        margin-bottom: 16px;
    }

    .our-tours__header {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .our-tours__button {
        width: 343px;
        text-align: center;
        margin: 0;
        margin-top: 33px;
    }

    .our-tours__included {
        list-style: none;
    }
}

@media screen and (min-width:320px) and (max-width:1439px) {
    .our-tours__footer-paragraph {
        display: none;
    }
}

@media screen and (min-width:835px) {
    .swiper-wrapper .swiper-slide {
        max-width: 918px;
    }

    .our-tours__img {
        width: 982px;
        height: 642px;
        margin-bottom: 40px;
    }

    .our-tours__info-wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }

    .our-tours__wrapper {
        height: auto;
    }

    .our-tours__list-wrapper {
        margin-bottom: 40px;
    }

    .our-tours__header {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .our-tours__description {
        width: 496px;
    }
}

@media screen and (min-width:835px) and (max-width:1439px) {
    .our-tours__list-wrapper {
        margin-right: 32px;
    }
}

@media screen and (min-width:1440px) {

    .swiper-wrapper .swiper-slide {
        max-width: 704px;
    }

    .our-tours__img {
        width: 768px;
        height: 515px;
        margin-bottom:106px;
    }

    .our-tours__info-wrapper {
        height: 530px;
        padding-left: 32px;
    }

    .our-tours__wrapper {
        flex-direction: column;
    }

    .our-tours__header {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .our-tours__button {
        margin-right: 46px;
    }
}