.our-tours__swiper {
    width: 704px;
}

.swiper-slide .our-tours__img {
    width: 704px;
    height: 515px;
}

.our-tours__footer {
    display: flex;
    align-items: center;
}

.our-tours__footer-paragraph {
    margin-right: 72px;
}

.our-tours__button {
    margin-right: 46px;
}

.our-tours__header {
    font-family: Jomolhari;
    font-size: 32px;
    letter-spacing: 0.32px;
    margin-bottom: 32px;
}

.our-tours__description li {
    list-style: disc;
}

.our-tours__description {
    margin-bottom: 40px;
}

.our-tours__Included li {
    display: flex;
}

.our-tours__Included :not(:last-child) {
    margin-bottom: 9px;
}

.our-tours__Included {
    margin-bottom: 32px;
}

.our-tours__Included-svg {
    margin-right: 16px
}

.our-tours__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}