.reviews {
  padding-bottom: 128px; 
  background-size: cover;
  background-repeat: no-repeat;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 352px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  padding: 32px;
}

.review-wrapper__title {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.review-title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: Jomolhari;
  margin-bottom: 8px;
}

.review-wrapper__title::before {
  content: "";
  background-size: contain;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 24px;
}

.review-list {
  display: flex;
}

.review-list :not(:last-child) {
  margin-right: 4px;
}

@each $people in dmitro, alisa, marry, fedir, anastasia, victoria, valeriy, ilona {
  .#{$people}-review::before {
    background-image: url('../images/png/#{$people}.png.jpg');
  }
}

@media screen and (min-width:375px) and (max-width:834px) {
  .reviews {
    background-image: url(../images/background-review/background-review-mobile.jpg.jpg);
  }

  .review-wrapper {
    width: 343px;
  }

  .review-title {
    font-size: 18px;
  }
}
@media screen and (min-width:835px) {
  .reviews {
    background-image: url(../images/background-review/background-review-tablet.jpg.jpg);
  }

  .review-wrapper {
    width: 320px;
  }

  .review-title {
    font-size: 20px;
  }
}
@media screen and (min-width:1440px) {
  .reviews {
    background-image: url(../images/background-review/background-review-dekstop.jpg.jpg);
  }
}